@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    font-family: "Rubik", -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f5f5f5;
    background: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
    background-color: #011f1f;
    border-color: #fff;
  }

  @media (min-width: 1024px) {
    body {
      background-color: #093130;
    }
  }
}

/* @see https://tailwindcss.com/docs/theme. todo apply theme colors*/
@theme {
  --font-display: "Inter", "sans-serif";
  --color-main: #f5f5f5;
  --color-opacity1: #f5f5f5ca;
  --color-opacity2: #f5f5f589;

  --animate-buzz: buzz 1.8s ease-in-out infinite;
  --animate-gradientX: gradientX 2s ease-in-out infinite;
  --animate-pointer: pointer 1.4s ease-in-out infinite;
  --animate-flash: flash 0.8s ease-in-out infinite;

  @keyframes buzz {
    0%,
    100% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(3px);
    }
  }

  @keyframes gradientX {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes pointer {
    0%,
    100% {
      transform: translateY(-3px) translateX(-3px);
    }
    50% {
      transform: translateY(3px) translateX(3px);
    }
  }

  @keyframes flash {
    0% {
      box-shadow: 0 0 0 rgba(255, 255, 0, 0);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 0 rgba(255, 255, 0, 0);
    }
  }
}

.flash {
  animation: flash 0.8s ease-in-out;
}

.main {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 56px;
}

.section-main {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* progress range style */
.progress-range::-webkit-slider-thumb,
.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: black; /* Default color */
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

/* Thumb Hover Effect */
.progress-range::-webkit-slider-thumb:active,
.volume-range::-webkit-slider-thumb:active {
  background-color: #25acaa;
}
