@import "tailwindcss";

/* @see https://tailwindcss.com/docs/theme. todo apply theme colors*/
@theme {
  --color-mint-300: oklch(0.72 0.11 178);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: oklch(0.129 0.042 264.695);
  color: oklch(0.985 0.002 247.839);
  background: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-color: rgb(25, 26, 26);
  border-color: #fff;
  /* -ms-overflow-style: none; */
}

/** football ground
https://www.transparenttextures.com/patterns/football-no-lines.png
rgb(15, 72, 55)
*/

/* ::-webkit-scrollbar {
  display: none;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 56px;
}

.section-main {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
